extends layout.pug

block content
    a(href='/park/add' role='button' class='btn btn-success') Add Park
    table
        thead
            tr
                th(scope='col') Park Name
                th(scope='col') Location
                th(scope='col') Opened
                th(scope='col')
        tbody
            each park in parks
                tr
                    td= park.parkName
                    td= `${park.city}, ${park.provinceState}, ${park.country}`
                    td= park.opened
                    td: a(href=`/park/${park.id}` role='button' class='btn btn-success') Details
